.section-hero {
  background-color: var(--bg-gray);
  color: var(--color-white);
  padding-top: 8.14rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem auto 3rem;
}

.hero .description {
  margin: 3rem 0;
  max-width: 54rem;
}

.hero__img-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 3.5rem;
  max-width: 57rem;
}

.hero__img-wrapper .img:nth-child(2) {
  margin: 25% 0 0 -8%;
}

.hero__img-wrapper .img:nth-child(3) {
  margin: -3% 0 0 -13%;
  z-index: 2;
}

.hero__img-wrapper .img:last-child {
  margin: 6% 0 0 -8%;
}

.posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  padding: 4rem 0 20.1rem;
}

/************/
@media (max-width: 69em) {
  .hero {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    gap: 3rem;
  }

  .hero .btn {
    margin: 0 auto;
  }

  .hero__img-wrapper {
    justify-content: center;
    padding-top: 3.5rem;
    max-width: initial;
  }

  .hero__img-wrapper .img {
    width: 25%;
  }
}
/***************/
/* RESPONSIVE */
/*************/
@media (max-width: 44em) {
  .posts {
    gap: 6rem;
  }
}
