.footer {
  background-color: var(--color-black);
  padding: 2rem 0 4rem;
  color: var(--color-white);
}

.footer .grid {
  align-items: center;
}

.footer .nav {
  justify-self: end;
}

.footer .nav-list {
  gap: 2rem;
}

.footer__subscribe {
  display: flex;
  align-items: center;
  padding: 8.6rem 3.9rem;
  margin: 5.9rem 0 3.05rem;
  grid-column: 1/-1;
  background-color: var(--bg-gray);
}

.footer__subscribe-title {
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 1.1;
  max-width: 50.2rem;
  margin-right: 1rem;
}

.footer__subscribe-form {
  display: flex;
  height: 6rem;
  gap: 1.5rem;
}

.footer__subscribe-form input,
.footer__subscribe-form .btn {
  border-radius: var(--radius-10);
}

.footer__subscribe-form input {
  width: 38rem;
  padding: 1.5rem 2.1rem;
}

.btn-subscribe {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 2rem;
  letter-spacing: 0.3px;
  padding: 2rem 2.7rem;
}

.footer__social {
  justify-self: end;
  display: flex;
  gap: 3.33rem;
}

.footer__social a:hover {
  transform: scale(1.1);
}

.footer__social img {
  display: block;
}

/***************/
/* RESPONSIVE */
/*************/
@media (max-width: 60em) {
  .footer__subscribe {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 44em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 4rem;
  }

  .footer .nav-list {
    gap: 3rem;
    flex-direction: column;
  }

  .footer .nav,
  .footer__social {
    justify-self: center;
  }

  .footer__subscribe {
    /* height: 30rem; */
    padding: 3rem;
    margin: 3rem auto;
    justify-content: center;
  }

  .footer__subscribe-title {
    font-size: 2.6rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
  }

  .footer__subscribe-form {
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .btn-subscribe {
    padding: 1.4rem 2.4rem;
  }

  .footer__address {
    text-align: center;
  }
}
@media (max-width: 29em) {
  .footer__subscribe-form input {
    width: 32rem;
  }
}
